In [19]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Path: taller_integrador.ipynb
# FunciÃ³n para leer el archivo de datos

def xls_to_pd(xls_file):
    df = pd.read_excel(xls_file)
    return df


df = xls_to_pd('Taller.xls').set_index('FECHA VENTA').drop(['Unnamed: 0', "Unnamed: 9"], axis=1)
df.columns
display(df)

## Check duplicates and Nan values

print("Nan values: ", df.isnull().sum().sum())
print("Duplicated values: ", df.duplicated().sum())

## Print all unique values of "MES" column

print("Unique values of 'MES' column: ", df['MES'].unique())







df.to_csv('Taller.csv')

,NUMERO FACTURA,DESPACHO,MES,RUT CLIENTE,NOMBRE,ADUANA,DECLARACION,GASTO POR VENTA,HONORARIOS,EJECUTIVO
FECHA VENTA,,,,,,,,,,
2016-01-01,123471,163452,ENERO,81675600 -6,COMERCIALIZADORA S.A.,VALPARAISO,IMPORTACION,43428,12710,VICTOR QUEZADA
2016-01-02,123472,163451,ENERO,81675600 -6,COMERCIALIZADORA S.A.,VALPARAISO,IMPORTACION,43428,12181,VICTOR QUEZADA
2016-01-03,123473,163450,ENERO,81675600 -6,COMERCIALIZADORA S.A.,VALPARAISO,IMPORTACION,43428,11400,VICTOR QUEZADA
2016-01-04,123474,163449,ENERO,81675600 -6,COMERCIALIZADORA S.A.,VALPARAISO,IMPORTACION,43428,10975,VICTOR QUEZADA
2016-01-05,123447,163504,ENERO,81148200 -5,FERROCARRIL DE ANTOFAGASTA A BOLIVIA,METROPOLITANA,IMPORTACION,12332,24663,JORGE MENAY
...,...,...,...,...,...,...,...,...,...,...
2018-02-27,124607,164201,DICIEMBRE,81148200 -5,FERROCARRIL DE ANTOFAGASTA A BOLIVIA,METROPOLITANA,IMPORTACION,12332,37151,JORGE MENAY
2018-02-28,124597,164766,DICIEMBRE,76423701 -3,LOI CHILE SPA,METROPOLITANA,IMPORTACION,15415,75384,SERGIO JOFRE
2018-03-01,124596,163750,DICIEMBRE,76466068 -4,SOC. CONC. NUEVO PUDAHUEL S.A,METROPOLITANA,IMPORTACION,12332,36995,DOMINIQUE GARMENDIA PINTO
2018-03-02,20261,162439,DICIEMBRE,81148200 -5,FERROCARRIL DE ANTOFAGASTA A BOLIVIA,ANTOFAGASTA,EXPORTACION,12332,24663,JORGE MENAY
2018-03-03,20259,164280,DICIEMBRE,76264035 -K,BOPP CHILE S.A.,LOS ANDES,EXPORTACION,40077,52409,DOMINIQUE GARMENDIA PINTO

Nan values:  0
Duplicated values:  0
Unique values of 'MES' column:  ['ENERO' 'FEBRERO' 'MARZO' 'ABRIL' 'MAYO' 'JUNIO' 'JULIO' 'AGOSTO'
 'SEPTIEMBRE' 'OCTUBRE' 'NOVIEMBRE' 'DICIEMBRE']

In [41]:
## Check value counts of unique values of "DESPACHO" and "NUMERO FACTURA" columns

print("Value counts of 'DESPACHO' column: ", df['DESPACHO'].value_counts())
print("Value counts of 'NUMERO FACTURA' column: ", df['NUMERO FACTURA'].value_counts())

## Print the "DESPACHO" values that have more than 1 value count

display("DESPACHO values that have more than 1 value count: ", df['DESPACHO'].value_counts()[df['DESPACHO'].value_counts() > 1])

## Get the rows that have the value counts of "DESPACHO" column greater than 1

df_despacho = df[df['DESPACHO'].isin(df['DESPACHO'].value_counts()[df['DESPACHO'].value_counts() > 1].index)]



display(df_despacho.set_index("DESPACHO").sort_values('DESPACHO'))
df_despacho.shape

Value counts of 'DESPACHO' column:  163111    3
162872    3
163523    3
164169    3
163739    3
         ..
163605    1
163665    1
163666    1
163703    1
164280    1
Name: DESPACHO, Length: 780, dtype: int64
Value counts of 'NUMERO FACTURA' column:  123471    1
20173     1
124246    1
124247    1
124248    1
         ..
20099     1
20100     1
20101     1
20102     1
20259     1
Name: NUMERO FACTURA, Length: 793, dtype: int64

'DESPACHO values that have more than 1 value count: '

163111    3
162872    3
163523    3
164169    3
163739    3
163283    2
164453    2
163106    2
Name: DESPACHO, dtype: int64

,FECHA VENTA,NUMERO FACTURA,MES,RUT CLIENTE,NOMBRE,ADUANA,DECLARACION,GASTO POR VENTA,HONORARIOS,EJECUTIVO
DESPACHO,,,,,,,,,,
162872,2016-04-10,123632,MARZO,55555555 -6,"ALSTOM TRANSPORTE,S.A C.I.F. A-46598363",LOS ANDES,IMPORTACION,19233,38465,PAULA MEJIAS
162872,2017-07-12,4859,NOVIEMBRE,55555555 -6,"ALSTOM TRANSPORTE,S.A C.I.F. A-46598363",LOS ANDES,IMPORTACION,19233,38465,PAULA MEJIAS
162872,2016-05-23,123711,ABRIL,55555555 -6,"ALSTOM TRANSPORTE,S.A C.I.F. A-46598363",LOS ANDES,IMPORTACION,19233,38465,PAULA MEJIAS
163106,2018-01-21,4873,DICIEMBRE,76003742 -7,CAF CHILE S.A.,VALPARAISO,IMPORTACION,12822,32055,GENOVEVA GOYENECHEA
163106,2018-02-09,124583,DICIEMBRE,61219000 -3,EMPRESA DE TRANSPORTE DE PASAJEROS METRO S.A.,VALPARAISO,IMPORTACION,12822,32055,PAULA MEJIAS
163111,2017-04-26,124127,OCTUBRE,59090630 -1,SICE AGENCIA CHILE S.A.,SAN ANTONIO,IMPORTACION,12332,30829,PAULA MEJIAS
163111,2017-07-07,124266,NOVIEMBRE,61219000 -3,EMPRESA DE TRANSPORTE DE PASAJEROS METRO S.A.,SAN ANTONIO,IMPORTACION,12332,30829,PAULA MEJIAS
163111,2017-07-11,4860,NOVIEMBRE,59090630 -1,SICE AGENCIA CHILE S.A.,SAN ANTONIO,IMPORTACION,12332,30829,PAULA MEJIAS
163283,2016-04-16,123659,MARZO,77920730 -7,CONSTRUCTORA SEACOAST LTDA.,SAN ANTONIO,IMPORTACION,12332,30829,FABIAN CARCAMO
163283,2016-08-03,4843,MAYO,77920730 -7,CONSTRUCTORA SEACOAST LTDA.,SAN ANTONIO,IMPORTACION,12332,30829,FABIAN CARCAMO
163523,2016-12-23,4850,AGOSTO,81675600 -6,COMERCIALIZADORA S.A.,SAN ANTONIO,IMPORTACION,43441,57130,VICTOR QUEZADA
163523,2016-12-24,123951,AGOSTO,81675600 -6,COMERCIALIZADORA S.A.,SAN ANTONIO,IMPORTACION,43437,57130,VICTOR QUEZADA
163523,2016-05-04,123676,MARZO,81675600 -6,COMERCIALIZADORA S.A.,SAN ANTONIO,IMPORTACION,43441,57130,VICTOR QUEZADA
163739,2017-02-15,124058,SEPTIEMBRE,76924610 -K,IMPORTADORA Y COMERCIAL TAM LTDA.,VALPARAISO,IMPORTACION,15415,18497,VICTOR QUEZADA
163739,2018-01-20,4868,DICIEMBRE,76924610 -K,IMPORTADORA Y COMERCIAL TAM LTDA.,VALPARAISO,IMPORTACION,15415,18497,VICTOR QUEZADA
163739,2018-01-22,124564,DICIEMBRE,76924610 -K,IMPORTADORA Y COMERCIAL TAM LTDA.,VALPARAISO,IMPORTACION,15415,19413,VICTOR QUEZADA
164169,2017-12-18,4866,DICIEMBRE,61219000 -3,EMPRESA DE TRANSPORTE DE PASAJEROS METRO S.A.,VALPARAISO,IMPORTACION,18497,63070,PAULA MEJIAS
164169,2017-12-20,124541,DICIEMBRE,61219000 -3,EMPRESA DE TRANSPORTE DE PASAJEROS METRO S.A.,VALPARAISO,IMPORTACION,18497,63070,PAULA MEJIAS
164169,2018-01-13,124544,DICIEMBRE,55555555 -6,"ALSTOM TRANSPORTE,S.A C.I.F. A-46598363",VALPARAISO,IMPORTACION,18497,63070,PAULA MEJIAS
164453,2018-02-08,4869,DICIEMBRE,55555555 -5,ALSTOM BRASIL ENERG 88309620,METROPOLITANA,IMPORTACION,18497,36995,ESTEBAN NILO
164453,2018-01-16,124563,DICIEMBRE,55555555 -5,ALSTOM BRASIL ENERG 88309620,METROPOLITANA,IMPORTACION,18497,36995,ESTEBAN NILO

(21, 11)

In [45]:
df[df["NOMBRE"] == "BOPP CHILE S.A."]["HONORARIOS"].sum()

4497460

In [24]:
%pip install sqlalchemy mysqlclient

Requirement already satisfied: sqlalchemy in c:\users\n3mes\miniconda3\envs\datascience\lib\site-packages (2.0.22)
Collecting mysqlclient
  Downloading mysqlclient-2.2.0-cp311-cp311-win_amd64.whl (199 kB)
                                              0.0/200.0 kB ? eta -:--:--
     -----                                   30.7/200.0 kB 1.3 MB/s eta 0:00:01
     -------------                         71.7/200.0 kB 991.0 kB/s eta 0:00:01
     -------------------------------------- 200.0/200.0 kB 2.4 MB/s eta 0:00:00
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\n3mes\miniconda3\envs\datascience\lib\site-packages (from sqlalchemy) (4.5.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\n3mes\miniconda3\envs\datascience\lib\site-packages (from sqlalchemy) (3.0.0)
Installing collected packages: mysqlclient
Successfully installed mysqlclient-2.2.0
Note: you may need to restart the kernel to use updated packages.

In [30]:
import pandas as pd
from sqlalchemy import create_engine

# Establece la conexiÃ³n a la base de datos MySQL
engine = create_engine('mysql://root:1234@localhost/taller_practico')

# Carga el archivo CSV en un DataFrame de pandas
df = pd.read_csv('Taller.csv')

print(df.columns)

Index(['FECHA VENTA', 'NUMERO FACTURA', 'DESPACHO', 'MES', 'RUT CLIENTE',
       'NOMBRE', 'ADUANA', 'DECLARACION', 'GASTO POR VENTA', 'HONORARIOS',
       'EJECUTIVO'],
      dtype='object')

In [31]:
# Guarda el DataFrame en la base de datos
df.to_sql('TallerDB', con=engine, if_exists='append', index=False)

C:\Users\n3mes\AppData\Local\Temp\ipykernel_36212\2633590452.py:2: UserWarning: The provided table name 'TallerDB' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df.to_sql('TallerDB', con=engine, if_exists='append', index=False)

793